.swiper-pagination-bullet {
    width: 10px;
    height: 10px;    
}
.bulletLocation .swiper-horizontal > .swiper-pagination-bullets, 
.bulletLocation .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0; 
 }

 .bulletLocation .swiper {
    padding-bottom: 30px;
 }

.bulletLocation .swiper-slide {
   width: 305px;
}

@media screen and (max-width: 767px) {
   .bulletLocation .swiper-slide {
      width: 224px;
   }
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
   bottom: 2rem ; 
}

