.swiper-pagination-bullet {
    width: 10px;
    height: 10px;    
}
.bulletLocation_services .swiper-horizontal > .swiper-pagination-bullets, 
.bulletLocation_services .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0; 
 }

 .bulletLocation_services .swiper {
    padding-bottom: 30px;
 }

.bulletLocation_services .swiper-slide {
   width: 305px;
}

@media screen and (max-width: 767px) {
   .bulletLocation_services .swiper-slide {
      width: 224px;
   }
}

.bulletLocation_doctors .swiper-horizontal > .swiper-pagination-bullets, 
.bulletLocation_doctors .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -50px; 
 }

.swiper-horizontal > .swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal {
   bottom: 2rem ; 
}


